<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>编辑主题</title>

  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../bower_components/summernote/dist/summernote-bs4.min.css">
  <link rel="stylesheet" href="../bower_components/select2/dist/css/select2.min.css">
  <link rel="stylesheet" href="../bower_components/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css">
  <link rel="stylesheet" href="../bower_components/vue-select/dist/vue-select.css">

  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/popper.js/dist/umd/popper.min.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../bower_components/polyfill/dist/polyfill.min.js"></script>
  <script src="../bower_components/summernote/dist/summernote-bs4.js"></script>
  <script src="../bower_components/summernote/dist/lang/summernote-zh-CN.min.js"></script>
  <script src="../bower_components/vue/dist/vue.js"></script>
  <script src="../bower_components/select2/dist/js/select2.min.js"></script>
  <script src="../bower_components/select2/dist/js/i18n/zh-CN.js"></script>
  <script src="../bower_components/vue-select/dist/vue-select.js"></script>

</head>
<body>
<header class="container-fluid mb-3 bg-light" id="userNewsApp">
  <nav class="navbar navbar-expand-lg   navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="../index.html">首页</a>
      </div>

    </div>

    <div class="form-inline my-2 my-lg-0" id="searchApp">
      <input class="form-control form-control-sm mr-sm-2 rounded-pill" type="search"
             placeholder="Search" aria-label="Search">
      <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0 rounded-pill" type="button"><i
              class="fa fa-search" aria-hidden="true"></i></button>
    </div>
    <a type="button" class="btn btn-outline-primary btn-sm mx-2" href="../question/create.html">我要提问</a>
    <div id="noticeCount">
      <button type="button" class="btn btn-default btn-xs fa fa-bell-o" data-toggle="modal" data-target="#noticeModal">
        <span class="badge badge-warning badge-pill">2</span>
      </button>
    </div>
    <div class="dropdown   py-1 mr-3 ">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        <img style="width: 30px;height: 30px;border-radius: 50%;"
             src="../img/user.jpg" v-bind:src="user.img">
      </button>
      <div class="dropdown-menu dropdown-menu-sm-left text-sm border-0" aria-labelledby="dropdownMenu2">
        <a class="dropdown-item " href="../user.html">个人资料</a>
        <div class="dropdown-divider"></div>
        <button data-toggle="modal" data-target="#invitecodeModal" class="dropdown-item btn-default">查看邀请码
        </button>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item " href="/logout">注销登录</a>
      </div>
    </div>
  </nav>
    <div class="col-8" id="questionApp">
      <h4 class="border-bottom m-2 p-2 font-weight-light">
        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
        编辑主题</h4>
      <form v-on:submit.prevent="updateQuestion" >
        <div class="form-group">
          <label for="title">标题:</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="请填写标题3~50字符"
                 pattern="^.{3,50}$" required v-model="question.title">
        </div>
        <div class="form-group">
          <!--富文本编辑器 start-->
          <label for="summernote">主题正文</label>
          <textarea name="content" id="summernote"></textarea>
          <!--富文本编辑器 end-->
        </div>
        <button type="submit" class="btn btn-primary mt-3">修改</button>
      </form>
    </div>

<script src="../plugins/summernote/summernote.min.js"></script>
<script src="../plugins/summernote/summernote-zh-CN.min.js"></script>
<script>
  $(document).ready(function() {
    $('#summernote').summernote({
      height: 300,
      tabsize: 2,
      lang: 'zh-CN',
      placeholder: '请输入主题的详细描述...',
      callbacks:{
        //summernote内部定义好的特殊方法,会自动在用户选中图片后运行
        onImageUpload:function(files){
            //参数是个数组,实际上数组中的第一个元素就是我们选中的图片
            let file=files[0];
            let form=new FormData();
            form.append("imageFile",file);
            $.ajax({
              url:"/v1/users/upload/image",
              method:"post",
              data:form,
              cache:false,//本次提交的内容不缓存
              contentType:false,
              processData:false,
              success:function(r){
                console.log(r);
                if(r.code==OK){
                  //图片上传如果成功,将图片显示在富文本编辑器中
                  let img =new Image();
                  img.src=r.message;
                  //将设置好路径的img添加到富文本编辑器中
                  $("#summernote").summernote("insertNode",img);
                }else{
                  alert(r.message)
                }
              }
            })
        }
      }
    });
    $('select').select2({placeholder:'请选择...'});
  });
</script>
</header>
</body>
<script src="../js/utils.js"></script>
<script src="../js/question_detail.js"></script>
<script src="../js/user_info.js"></script>
<script src="../js/userNews.js"></script>
</html>